insert into invest_chn_etf_product (
    etf_id,
    external_provider,
    external_etf_id,
    ticker,
    etf_name,
    description,
    market,
    currency,
    risk_grade,
    is_fractional_available,
    is_trade_available,
    display_order,
    last_synced_at
) values (
    1,
    'KIS',
    'VOO',
    'VOO',
    'Vanguard S&P 500 ETF',
    '미국 대표 대형주에 분산 투자하는 ETF입니다.',
    'NYSE',
    'USD',
    'MEDIUM',
    true,
    true,
    1,
    current_timestamp
);